@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-color: #2e3544;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 48px;
}
#root {
  width: 100%;
}
